* {
    padding: 0px;
    margin: 0px;
    border: 0xp;
}

#div1 {
    height: auto;
    background-color: blueviolet;
}

#navbar {
    background-color: rgb(253, 253, 7);
    /* width: 100%; */
    display: flex;
}

#nname {
    float: left;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

#myname {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 220%;
}

#nbtns {
    background-color: aqua;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.nbuttons {
    margin: 5%;
}

#LINKS {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.links,
.lightmode {
    margin-left: 1%;
    margin-right: 9%;
}

#div2 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

#profilepic {
    height: 12rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    border: 6px solid black;
}

#div3 {
    height: 29.4593734rem;
    background-color: gold;
}

#nspan {
    background-color: blue;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#name {
    color: rgb(5, 116, 175);
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#pspan {
    background-color: aqua;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0.4%;
    margin-left: auto;
    margin-right: auto;
}

#profession {
    background-color: brown;
    margin: 0.5rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#dspan {
    background-color: chartreuse;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-style: italic;
}

#details {
    color: seagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.33rem;
}

#impbtnsdiv {
    background-color: rgb(220, 56, 81);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.bimg {
    height: 1.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.ib {
    background-color: mediumspringgreen;
    height: 3.6rem;
    border-radius: 0.8rem;
    padding-right: 3rem;
}

#dbtn {
    margin-right: 1rem;
}

#cbtn {
    margin-left: 1rem;
    padding-right: 4rem;
}

.plimg {
    height: 3rem;
    margin: 2.5rem 0.5rem 0rem 0.5rem;

}

#plink {
    display: flex;
    background-color: blue;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;

}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 187, 143);
    height: auto;
    width: auto;
    flex-direction: column;
}

#se {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    color: blueviolet;
    margin: 5% 0% 0% 0%;
    background-color: chartreuse;
}

#sed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 0% 23% 0% 23%;
    color: cadetblue;
    text-align: center;
    background-color: aqua;
}

#subsec1{
    background-color: chocolate;
    margin: 50px solid blue;
    height: 1000px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#se1 {
    background-color: rgb(182, 182, 236);
    height: 60px;
    width: 60px;
    padding: 50%;
    margin: 10%;
    border: 50px;
    float: left;
}

#se2 {
    background-color: rgb(19, 19, 228);
    height: 60px;
    width: 60px;
    padding: 50%;
    border: 50px;
    margin: 10%;
    float: right;
}

#se3 {
    background-color: rgb(61, 61, 73);
    height: 60px;
    width: 60px;
    padding: 50%;
    border: 50px;
    margin: 10%;
    float: left;
}

#se4 {
    background-color: rgb(6, 6, 80);
    height: 60px;
    width: 60px;
    padding: 50%;
    border: 50px;
    margin: 10%;
    float: right;
}