* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mpage {
    background-color: rgba(109, 255, 148, 0.303);
    width: 100vw;
    height: 100vh;
    display: flex;

    flex-direction: column;
}

header {
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar,
#div1 {
    background-color: rgba(178, 255, 89, 0.784);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.2rem;
}

#nname {
    background-color: rgba(150, 206, 252, 0.714);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

#nbtns {
    display: flex;
    gap: 1rem;
}

main {
    margin-top: 9vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#div2 {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilepic {
    height: 12rem;
    border-radius: 50%;
    border: 5px solid black;
}

.nbuttons {
    margin: 5%;
}

/*
#LINKS {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}
*/

.links,
.lightmode {
    margin-left: 1%;
    margin-right: 9%;
}

#div3 {
    box-sizing: border-box;
}

#nspan {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#ndiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

#name {
    color: rgb(5, 116, 175);
    font-size: clamp(55px, 8vw, 400%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px 2vh;
    white-space: nowrap;
}


#pdiv {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0.4%;
    margin-left: auto;
    margin-right: auto;
}

#profession {
    font-size: clamp(18px, 6vw, 2rem);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: clamp(4px, 2vh, 4vh);
}

#ddiv {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
    text-align: center;
    font-style: italic;
}

@media (min-width: 768px) {

    #ddiv,
    #fpd,
    #eed,
    #sed {
        margin: 0 25.6vw;
    }
}

@media (min-width: 1200px) {

    #ddiv,
    #fpd,
    #sed {
        margin: 0 24.5rem;
    }
}

#details {
    color: seagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(15px, 3vw, 1.33rem);
}

#impbtnsdiv {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 2vw 0px 2vh;
}

.bimg {
    height: 1.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.ib {
    height: 3.6rem;
    border-radius: 0.8rem;
    padding-right: 3rem;
}

#dbtn {
    margin-right: 1rem;
}

#cbtn {
    margin-left: 1rem;
    padding-right: 4rem;
}

.fa-brands {
    font-size: 2rem;
    margin: 2rem 0.5rem 0rem 0.5rem;


}

#plink {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;

}


#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 255, 86, 0.626);
    height: auto;
    width: auto;
    flex-direction: column;
    text-align: center;
}


#se {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(20px, 8vw, 45px);
    color: rgb(43, 226, 61);
    margin: 9vh 0% 2vh 0%;
    white-space: nowrap;
    background-color: rgba(234, 241, 177, 0.529);
    text-align: center;
}

#sed {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(212, 206, 15);
    text-align: center;
    background-color: rgba(221, 255, 173, 0.668);
    margin-bottom: 4vh;
}

#subsec1 {
    background-color: rgb(237, 178, 28);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 650px));
    align-items: center;
    justify-content: center;
    gap: 5vh;
    width: 90vw;
    padding: 1%;
}

.pp {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sedib {
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.sel {
    background-color: rgb(248, 127, 127);
    height: 1rem;
    width: 95%;
    place-self: left;
}

div1,
div2,
div3,
div4 {
    margin: 2.5% 2%;
    background-color: yellow;
    white-space: nowrap;
}

#se1 {
    background-color: rgb(182, 182, 236);
}

#se2 {
    background-color: rgb(112, 112, 186);
}

#se3 {
    background-color: rgb(170, 68, 195);
}

#se4 {
    background-color: rgb(13, 129, 26);
}

.seh {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ca {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 6vw, 2.5rem);
    margin: 3rem 0% 3vh 0%;
}

#subsec2_1 {
    height: auto;
    width: auto;
    margin-bottom: 3rem;

}

.cbtn {
    width: auto;
    padding: 0.6rem;
    white-space: nowrap;
    margin: 0.7rem clamp(18px, 5vw, 1rem);
    border-radius: 10rem;

}




#section3 {
    background-color: rgba(177, 255, 255, 0.662);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.fp {
    margin: 8vh 0 4vh 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    font-size: clamp(35px, 3vw, 500%);
    white-space: nowrap;
    text-align: center;
}

#section4 {
    background-color: rgba(249, 226, 197, 0.426);
}

#pe {
    margin: 5rem 0;
}

#eed {
    text-align: center;
}


.projects {
    background-color: rgba(197, 249, 119, 0.771);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    padding: 1%;
}

.fps {
    place-self: center;
    height: auto;
    background-color: salmon;
    margin-bottom: 3vh;
    padding: 4%;

}

.fpimg {
    background-color: rgba(255, 110, 255, 0.71);
    width: 100%;
}

.pd {
    background-color: lightseagreen;
    text-align: left;
    padding: 0.5rem;
    margin-top: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(20px, 3vw, 1.2rem);
    width: 100%;
    white-space: normal;
}

.fpt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(18px, 10vw, 2rem);
    margin-top: 0.3rem;
    text-align: left;
}

#pes {
    background-color: rgba(175, 175, 255, 0.326);
    height: 40px;
}


#education {
    background-color: rgba(182, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    border: 0.2rem solid black;
    padding: 1rem;
}

#edu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 6vw, 2.5rem);
    margin: 1rem 0% 3vh 0%;
}

.rc {
    background-color: rgb(255, 132, 132);
    border-radius: 1rem;
    display: inline-block;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

}

.list {
    background-color: rgba(195, 247, 185, 0.479);
    list-style: circle;
    margin: 0;
    padding: 0;
    list-style-type: circle;
    list-style-position: inside;;
}
